body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.cardactions:hover {
    color: #000;
    text-decoration:underline solid #000;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.robinsKnapp{
    color: #fff;
}
.robinsKnapp:hover{
    color: #000;
}
.robinKnapp:after, .robinKnapp:visited, .robinKnapp:active{
    text-decoration: none;
    color: #fff;
}

@media (max-width: 767px) {
}

.bildlogga{

    width: 25px;
    height: 30px;

}
div.head {
    background-color: #000;
}
.image-size {
    width: 100%;
    height: 19rem;
}

.front-cards {
    float: left;
    margin: 5px;
    padding: 2px;
    border: 2px solid #ccc;
}

.clear {
    clear: left;
    display: block;
}

