@model DataLogic.Models.EntryTag

@{
    ViewBag.Title = "Delete";
}

<h2>Radera tagg</h2>

<h3>Är du säker på att du vill radera denna tagg?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TagName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TagName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-default" /> 
            <br />
            <br />
            <br />
            <p>Klicka på knappen för att komma tillbaka till alla taggar</p>
            @Html.ActionLink("Klicka här", "Index", "EntryTags", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
</div>
