@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Hoppsan, ett fel uppstod! Försök igen, eller kontakta din systemadministratör!</h2>

