
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
@Html.ActionLink("Registrera användare", "RegisterUser","Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })

<br />
<br />

@Html.ActionLink("Redigera Användare","List", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })


