@model IEnumerable<DataLogic.Models.ApplicationUser>

@{
    ViewBag.Title = "List";
}

<h2>Välj den användaren du vill redigera</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        
        <td>
            @Html.ActionLink("Redigera", "EditProfile", routeValues: new { id=item.Id }, htmlAttributes: new { @class = "btn btn-default" }) 
            @Html.ActionLink("Inaktivera konto", "ProfilePage", routeValues: new { id=item.Id }, htmlAttributes: new { @class = "btn btn-default" }) 
        </td>
    </tr>
}

</table>
