@model DataLogic.Models.EventViewModel

@{
    ViewBag.Title = "Mötesdeltagare";
}

<h2>Mötesdeltagare</h2>

<p>
    @Html.ActionLink("Skapa nytt möte", "Create")
</p>

    <p><b>Mötesansvarig:</b> @Model.events.Host.UserName</p>
     

<table class="table">
    <tr>
        <th> Deltagare: </th>
    </tr>

    @foreach (var item in Model.users)
    {
       <tr>
        <td>@item.UserName</td>
       </tr>
    }



</table>
